﻿@model WebApplication1.Models.Class1ViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Teste</h1>
  <p>@Model.HoraTeste</p>
    <p>@Model.Idade</p>
    <p>@Model.Nome</p>
</div>
