﻿@model WebApplication1.Models.Animal

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QualAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raça)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raça)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Porte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriçãoAdicional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriçãoAdicional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeDono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefoneDono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefoneDono)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
