﻿@model WebApplication1.Models.Animal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QualAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raça)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raça)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Porte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriçãoAdicional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriçãoAdicional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeDono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefoneDono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefoneDono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnimalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
