﻿@model IEnumerable<WebApplication1.Models.Animal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QualAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raça)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Porte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriçãoAdicional)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeDono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefoneDono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QualAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Raça)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Porte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriçãoAdicional)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeDono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneDono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnimalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnimalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnimalID })
        </td>
    </tr>
}

</table>
